In [48]:
import re
import pandas as pd
import numpy as np

In [78]:
pd.set_option('display.max_colwidth', None)

In [146]:
# import data from data.txt and store in data frame
df = pd.read_csv('data.txt', sep='\t', header=None)
df2 = pd.read_csv('data.txt', sep='\t', header=None)

In [147]:
df

                                                          0
0  | "ALPHA"   | "MYR" | "OPY0001427REV \ OPY0001427REV " |
1  | "BETA"    | "MYR" | "OPY0001427REV \ OPY0001427REV " |
2  | "CHARLIE" | "MYR" | "OPY0001427REV \ OPY0001427REV " |
3  | "DELTA"   | "MYR" | "OPY0001427REV \ OPY0001427REV " |

In [148]:
# eugene's regex
expression = r'(?<!^)(?<!\|)(?<!\\)"(?!$|\|)'
expression_sub = "{}{}".format('\\', "\"")
df2 = df2.applymap(lambda x: re.sub(expression, expression_sub, x))
df2

                                                                0
0  | \"ALPHA\"   | \"MYR\" | \"OPY0001427REV \ OPY0001427REV \" |
1  | \"BETA\"    | \"MYR\" | \"OPY0001427REV \ OPY0001427REV \" |
2  | \"CHARLIE\" | \"MYR\" | \"OPY0001427REV \ OPY0001427REV \" |
3  | \"DELTA\"   | \"MYR\" | \"OPY0001427REV \ OPY0001427REV \" |

In [142]:
df = df.applymap(lambda x: re.sub(expression, r'\\', x))
df

                                                           0
0  \"TEST\" \| \"MYR\" \| \"OPY0001427REV \ OPY0001427REV \"
1            TEST | \MYR\ | \OPY0001427REV \ OPY0001427REV "

In [101]:
regex_escape_char = "\\"
regex_delimeter = "|"

In [121]:
re1 = f"(?!{regex_escape_char}){regex_delimeter}"
re2 = f"(?<!{regex_escape_char}){regex_delimeter}"
re3 = f"{regex_escape_char}(?!{regex_delimeter})"
re4 = f"\B{regex_escape_char}"
re5 = f"{regex_escape_char}\B"

# to detect if single escape characters exist without being at the front, back, or before a delimiter
final_reg = f"""/^(?={re1}) (?={re2}) (?={re3}) (?={re4}) (?={re5}).*$/"""
final_reg

'/^(?=(?!\\)|)(?=(?<!\\)|)(?=\\(?!|))(?=\\B\\)(?=\\\\B).*$/'

In [ ]:
# use final_reg to find all instances of single escape characters in df
df = df.applymap(lambda x: re.sub(final_reg, '\\', x))
df